<div class="container">
    <div>
        <h1>Portfolio Tracking</h1>
        <p>
            Portfolio tracking is a financial management tool that allows individuals or investors to monitor and manage
            their investment portfolios efficiently. It provides real-time or near-real-time updates on the performance
            of various assets within the portfolio, including stocks, bonds, mutual funds, exchange-traded funds (ETFs),
            and other investments.
        </p>
    </div>



    <!-- Carousel with zoom-in effect -->
    <div class="row">
        <div class="col-6">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="https://img.freepik.com/free-photo/forex-trade-graph-chart-concept_53876-125168.jpg?size=626&ext=jpg&ga=GA1.2.131537735.1687958243&semt=ais"
                            alt="Image 1">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">

            <h2>Key Features of Portfolio Tracking Systems</h2>
            <ul>
                <li>
                    <strong>
                        Real-Time Monitoring:
                    </strong>
                    The system continuously updates the portfolio's value based on current market prices, allowing
                    investors
                    to stay informed about the latest changes in their holdings.
                </li><br>
                <li>
                    <strong>
                        Performance Metrics:
                    </strong>
                    Portfolio tracking tools calculate various performance metrics, such as returns, gains, losses, and
                    the
                    overall performance of the portfolio. These metrics help investors assess the effectiveness of their
                    investment strategies.
                </li><br>
                <li>
                    <strong>
                        Diversification Analysis:
                    </strong>
                    The system evaluates the diversification of assets within the portfolio to ensure that it is
                    appropriately balanced across different investment types and sectors. Proper diversification helps
                    reduce risk and optimize potential returns.
                </li><br>
                <li>
                    <strong>
                        Transaction History:
                    </strong>
                    Portfolio tracking tools keep a record of all transactions made within the portfolio, including
                    buys,
                    sells, and dividend reinvestments. This transaction history is useful for tax reporting and for
                    understanding the impact of trading decisions.
                </li><br>
                <li>
                    <strong>
                        Risk Assessment:
                    </strong>
                    Some portfolio tracking systems offer risk analysis tools to help investors gauge their risk
                    tolerance
                    and ensure that their investment choices align with their risk preferences.
                </li>
            </ul>
        </div>
    </div>
    <p>
        Investors, financial advisors, and institutions use portfolio tracking to make informed decisions, identify
        underperforming assets, rebalance their portfolios, and align their investment strategies with their
        financial objectives. The availability and sophistication of portfolio tracking tools may vary, ranging from
        simple mobile apps to comprehensive online platforms offered by investment firms and financial service
        providers.
    </p>

</div>